fastapi==0.135.2
uvicorn==0.42.0
SQLAlchemy==2.0.48
PyMySQL==1.1.2
pydantic==2.12.5
python-dotenv==1.2.2
Jinja2==3.1.6
requests==2.33.0
brother-ql==0.9.4
pillow==12.1.1
qrcode==8.2.0
httpx==0.28.1
websockets==16.0